{
  "openapi": "3.0.3",
  "info": {
    "title": "Opendatasoft's Automation API Documentation",
    "version": "1.0",
    "description": "Opendatasoft REST API to manage your portal and its catalog",
    "license": {
      "name": "Copyright Opendatasoft"
    },
    "contact": {
      "email": "support@opendatasoft.com"
    }
  },
  "servers": [
    {
      "url": "https://documentation-resources.opendatasoft.com/api/automation/v1.0",
      "description": "Example portal for documentation purposes."
    }
  ],
  "paths": {
    "/datasets/": {
      "get": {
        "summary": "List datasets",
        "tags": [
          "Datasets"
        ],
        "operationId": "list-datasets",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "name": "dataset_id",
            "in": "query",
            "description": "Find a dataset from its `dataset_id`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "List all the datasets that can be edited by this user.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Dataset"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "summary": "Create dataset",
        "operationId": "create-dataset",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Create a dataset.",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dataset"
              }
            }
          }
        },
        "tags": [
          "Datasets"
        ]
      }
    },
    "/datasets/{dataset_uid}/": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          }
        ],
        "summary": "Retrieve Dataset",
        "tags": [
          "Datasets"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "retrieve-dataset",
        "description": "Retrieve a dataset"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          }
        ],
        "summary": "Update Dataset",
        "operationId": "update-dataset",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Update a dataset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dataset"
              }
            }
          }
        },
        "tags": [
          "Datasets"
        ]
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          }
        ],
        "summary": "Delete Dataset",
        "operationId": "delete-dataset",
        "responses": {
          "204": {
            "$ref": "#/components/responses/Deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Delete the dataset.",
        "tags": [
          "Datasets"
        ]
      }
    },
    "/datasets/{dataset_uid}/publish/": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          }
        ],
        "summary": "Publish dataset",
        "operationId": "publish-dataset",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/InvalidDatasetStatus"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Make the dataset modifications available through the explore API. It may entail the processing of all the records.",
        "tags": [
          "Datasets"
        ]
      }
    },
    "/datasets/{dataset_uid}/publish_metadata/": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          }
        ],
        "summary": "Publish dataset metadata",
        "operationId": "publish-dataset-metadata",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/InvalidDatasetStatus"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Publish dataset metadata",
        "tags": [
          "Datasets"
        ]
      }
    },
    "/datasets/{dataset_uid}/abort/": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          }
        ],
        "summary": "Abort dataset publishing",
        "operationId": "abort-dataset",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/InvalidDatasetStatus"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Stop the current processing job and keep the processed records available in the explore API.",
        "tags": [
          "Datasets"
        ]
      }
    },
    "/datasets/{dataset_uid}/unpublish/": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          }
        ],
        "summary": "Unpublish dataset",
        "operationId": "unpublish-dataset",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/InvalidDatasetStatus"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Remove the dataset from the explore API. Unpublishing a dataset does not delete the dataset.",
        "tags": [
          "Datasets"
        ]
      }
    },
    "/datasets/{dataset_uid}/copy/": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          }
        ],
        "summary": "Copy dataset",
        "operationId": "copy-dataset",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Copy a dataset",
        "tags": [
          "Datasets"
        ]
      }
    },
    "/datasets/{dataset_uid}/status/": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          }
        ],
        "summary": "Retrieve dataset status",
        "operationId": "get-dataset-status",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DatasetProcessingStatus"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Retrieves the current dataset status.\n\nThe dataset status describes the current state of a dataset, stating if it's published or not and the running operation.  It is a finite state machine, with the following properties:\n- a single state at a time\n- the list of possible states, fully known\n- the list of all transitions, fully known, each with the actions and conditions that can trigger them",
        "tags": [
          "Datasets"
        ]
      }
    },
    "/datasets/{dataset_uid}/feedbacks/": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "name": "record_id",
            "in": "query",
            "description": "Find feedbacks made on a record with this id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_archived",
            "in": "query",
            "description": "If true, list only archived feedbacks",
            "schema": {
              "type": "boolean",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by date of submission",
            "schema": {
              "type": "string",
              "default": "-created_at",
              "example": [
                "created_at"
              ]
            }
          }
        ],
        "summary": "List all dataset feedbacks",
        "operationId": "list-dataset-feedbacks",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/DatasetFeedback"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "List all dataset feedbacks. Archived feedbacks aren't listed by default, use the `is_archived` parameter to query them.",
        "tags": [
          "Dataset feedbacks"
        ]
      }
    },
    "/datasets/{dataset_uid}/feedbacks/{feedback_uid}/": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/feedback_identifier"
          }
        ],
        "summary": "Retrieve a dataset feedback",
        "operationId": "retrieve-dataset-feedback",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetFeedback"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Retrieve a dataset feedback",
        "tags": [
          "Dataset feedbacks"
        ]
      }
    },
    "/datasets/{dataset_uid}/feedbacks/{feedback_uid}/archive/": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/feedback_identifier"
          }
        ],
        "summary": "Archive a dataset feedback",
        "operationId": "archive-dataset-feedback",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetFeedback"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Archive a dataset feedback",
        "tags": [
          "Dataset feedbacks"
        ]
      }
    },
    "/datasets/{dataset_uid}/fields/": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          }
        ],
        "summary": "List dataset field configurations",
        "operationId": "list-dataset-field-configurations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/DatasetFieldConfiguration"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "List fields configurations for a dataset. Please note that it reads in the order in which processors are applied.",
        "tags": [
          "Dataset fields"
        ]
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          }
        ],
        "summary": "Append a new field configuration",
        "operationId": "create-dataset-field-configurations",
        "description": "Create a new field configuration for the dataset. The processor will be appended to the end of the fields configuration stack.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetFieldConfiguration"
              },
              "examples": {
                "Rename dataset field": {
                  "value": {
                    "type": "rename",
                    "label": "Renaming field original_field_id",
                    "from_name": "original_field_id",
                    "to_name": "new_field_id",
                    "field_label": "New user friendly label"
                  },
                  "summary": "Rename a dataset field"
                },
                "Type dataset field": {
                  "value": {
                    "type": "type",
                    "label": "Typing field_id to integer",
                    "field": "field_id",
                    "type_param": "int"
                  },
                  "summary": "Type a field to integer"
                },
                "Describe dataset field": {
                  "value": {
                    "type": "description",
                    "label": "Describing field field_id",
                    "field": "field_id",
                    "description": "The user friendly description"
                  },
                  "summary": "Describe a dataset field"
                },
                "Mark a field as the unique ID": {
                  "value": {
                    "type": "annotate",
                    "label": "Making field_id the unique ID for the records",
                    "annotation": "id",
                    "field": "field_id"
                  },
                  "summary": "Mark a field as the unique ID"
                },
                "Set datetime field precision": {
                  "value": {
                    "type": "annotate",
                    "label": "Making the field_id have an hourly precision when used in timeseries",
                    "field": "field_id",
                    "annotation": "timeserie_precision",
                    "args": [
                      "hour"
                    ]
                  },
                  "summary": "Set datetime field precision"
                },
                "Set field unit": {
                  "value": {
                    "type": "annotate",
                    "label": "Mark the field_id field as representing square kilometers",
                    "field": "field_id",
                    "annotation": "unit",
                    "args": [
                      "km2"
                    ]
                  },
                  "summary": "Set field unit"
                },
                "Set decimal field precision": {
                  "value": {
                    "type": "annotate",
                    "label": "Force the field_id precision to 5 digits after the decimal point",
                    "field": "field_id",
                    "annotation": "decimals",
                    "args": [
                      5
                    ]
                  },
                  "summary": "Set decimal field precision"
                },
                "Set a field as multivalued": {
                  "value": {
                    "type": "annotate",
                    "label": "Mark the field_id as multivalued, with a comma as the values separator",
                    "field": "field_id",
                    "annotation": "multivalued",
                    "args": [
                      ","
                    ]
                  },
                  "summary": "Set a field as multivalued"
                },
                "Order dataset field": {
                  "value": {
                    "type": "order",
                    "label": "Ordering dataset fields",
                    "args": [
                      "field3",
                      "field2",
                      "field1"
                    ]
                  },
                  "summary": "Order dataset fields"
                },
                "Delete dataset field": {
                  "value": {
                    "type": "delete",
                    "label": "Deleting field field_id",
                    "field": "field_id"
                  },
                  "summary": "Delete a dataset field"
                }
              }
            }
          },
          "description": "Create a field configuration in a dataset"
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetFieldConfiguration"
                },
                "examples": {
                  "Rename dataset field": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "rename",
                      "label": "Renaming field original_field_id",
                      "from_name": "original_field_id",
                      "to_name": "new_field_id",
                      "field_label": "New user friendly label"
                    },
                    "summary": "Rename a dataset field"
                  },
                  "Type dataset field": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "type",
                      "label": "Typing field_id to integer",
                      "field": "field_id",
                      "type_param": "int"
                    },
                    "summary": "Type a field to integer"
                  },
                  "Describe dataset field": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "description",
                      "label": "Describing field field_id",
                      "field": "field_id",
                      "description": "The user friendly description"
                    },
                    "summary": "Describe a dataset field"
                  },
                  "Mark a field as the unique ID": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "annotate",
                      "label": "Making field_id the unique ID for the records",
                      "annotation": "id",
                      "field": "field_id"
                    },
                    "summary": "Mark a field as the unique ID"
                  },
                  "Set datetime field precision": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "annotate",
                      "label": "Making the field_id have an hourly precision when used in timeseries",
                      "field": "field_id",
                      "annotation": "timeserie_precision",
                      "args": [
                        "hour"
                      ]
                    },
                    "summary": "Set datetime field precision"
                  },
                  "Set field unit": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "annotate",
                      "label": "Mark the field_id field as representing square kilometers",
                      "field": "field_id",
                      "annotation": "unit",
                      "args": [
                        "km2"
                      ]
                    },
                    "summary": "Set field unit"
                  },
                  "Set decimal field precision": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "annotate",
                      "label": "Force the field_id precision to 5 digits after the decimal point",
                      "field": "field_id",
                      "annotation": "decimals",
                      "args": [
                        5
                      ]
                    },
                    "summary": "Set decimal field precision"
                  },
                  "Set a field as multivalued": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "annotate",
                      "label": "Mark the field_id as multivalued, with a comma as the values separator",
                      "field": "field_id",
                      "annotation": "multivalued",
                      "args": [
                        ","
                      ]
                    },
                    "summary": "Set a field as multivalued"
                  },
                  "Order dataset field": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "order",
                      "label": "Ordering dataset fields",
                      "args": [
                        "field3",
                        "field2",
                        "field1"
                      ]
                    },
                    "summary": "Order dataset fields"
                  },
                  "Delete dataset field": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "delete",
                      "label": "Deleting field field_id",
                      "field": "field_id"
                    },
                    "summary": "Delete a dataset field"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "tags": [
          "Dataset fields"
        ]
      }
    },
    "/datasets/{dataset_uid}/fields/{field_uid}/": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/field_identifier"
          }
        ],
        "summary": "Retrieve dataset field configuration",
        "operationId": "retrieve-dataset-field-configuration",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetFieldConfiguration"
                },
                "examples": {
                  "Rename dataset field": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "rename",
                      "label": "Renaming field original_field_id",
                      "from_name": "original_field_id",
                      "to_name": "new_field_id",
                      "field_label": "New user friendly label"
                    },
                    "summary": "Rename a dataset field"
                  },
                  "Type dataset field": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "type",
                      "label": "Typing field_id to integer",
                      "field": "field_id",
                      "type_param": "int"
                    },
                    "summary": "Type a field to integer"
                  },
                  "Describe dataset field": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "description",
                      "label": "Describing field field_id",
                      "field": "field_id",
                      "description": "The user friendly description"
                    },
                    "summary": "Describe a dataset field"
                  },
                  "Mark a field as the unique ID": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "annotate",
                      "label": "Making field_id the unique ID for the records",
                      "annotation": "id",
                      "field": "field_id"
                    },
                    "summary": "Mark a field as the unique ID"
                  },
                  "Set datetime field precision": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "annotate",
                      "label": "Making the field_id have an hourly precision when used in timeseries",
                      "field": "field_id",
                      "annotation": "timeserie_precision",
                      "args": [
                        "hour"
                      ]
                    },
                    "summary": "Set datetime field precision"
                  },
                  "Set field unit": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "annotate",
                      "label": "Mark the field_id field as representing square kilometers",
                      "field": "field_id",
                      "annotation": "unit",
                      "args": [
                        "km2"
                      ]
                    },
                    "summary": "Set field unit"
                  },
                  "Set decimal field precision": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "annotate",
                      "label": "Force the field_id precision to 5 digits after the decimal point",
                      "field": "field_id",
                      "annotation": "decimals",
                      "args": [
                        5
                      ]
                    },
                    "summary": "Set decimal field precision"
                  },
                  "Set a field as multivalued": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "annotate",
                      "label": "Mark the field_id as multivalued, with a comma as the values separator",
                      "field": "field_id",
                      "annotation": "multivalued",
                      "args": [
                        ","
                      ]
                    },
                    "summary": "Set a field as multivalued"
                  },
                  "Order dataset field": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "order",
                      "label": "Ordering dataset fields",
                      "args": [
                        "field3",
                        "field2",
                        "field1"
                      ]
                    },
                    "summary": "Order dataset fields"
                  },
                  "Delete dataset field": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "delete",
                      "label": "Deleting field field_id",
                      "field": "field_id"
                    },
                    "summary": "Delete a dataset field"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Retrieve a dataset field configuration",
        "tags": [
          "Dataset fields"
        ]
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/field_identifier"
          }
        ],
        "summary": "Update dataset field configuration",
        "operationId": "update-dataset-field",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetFieldConfiguration"
                },
                "examples": {
                  "Rename dataset field": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "rename",
                      "label": "Renaming field original_field_id",
                      "from_name": "original_field_id",
                      "to_name": "new_field_id",
                      "field_label": "New user friendly label"
                    },
                    "summary": "Rename a dataset field"
                  },
                  "Type dataset field": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "type",
                      "label": "Typing field_id to integer",
                      "field": "field_id",
                      "type_param": "int"
                    },
                    "summary": "Type a field to integer"
                  },
                  "Describe dataset field": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "description",
                      "label": "Describing field field_id",
                      "field": "field_id",
                      "description": "The user friendly description"
                    },
                    "summary": "Describe a dataset field"
                  },
                  "Mark a field as the unique ID": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "annotate",
                      "label": "Making field_id the unique ID for the records",
                      "annotation": "id",
                      "field": "field_id"
                    },
                    "summary": "Mark a field as the unique ID"
                  },
                  "Set datetime field precision": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "annotate",
                      "label": "Making the field_id have an hourly precision when used in timeseries",
                      "field": "field_id",
                      "annotation": "timeserie_precision",
                      "args": [
                        "hour"
                      ]
                    },
                    "summary": "Set datetime field precision"
                  },
                  "Set field unit": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "annotate",
                      "label": "Mark the field_id field as representing square kilometers",
                      "field": "field_id",
                      "annotation": "unit",
                      "args": [
                        "km2"
                      ]
                    },
                    "summary": "Set field unit"
                  },
                  "Set decimal field precision": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "annotate",
                      "label": "Force the field_id precision to 5 digits after the decimal point",
                      "field": "field_id",
                      "annotation": "decimals",
                      "args": [
                        5
                      ]
                    },
                    "summary": "Set decimal field precision"
                  },
                  "Set a field as multivalued": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "annotate",
                      "label": "Mark the field_id as multivalued, with a comma as the values separator",
                      "field": "field_id",
                      "annotation": "multivalued",
                      "args": [
                        ","
                      ]
                    },
                    "summary": "Set a field as multivalued"
                  },
                  "Order dataset field": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "order",
                      "label": "Ordering dataset fields",
                      "args": [
                        "field3",
                        "field2",
                        "field1"
                      ]
                    },
                    "summary": "Order dataset fields"
                  },
                  "Delete dataset field": {
                    "value": {
                      "uid": "pr_qf2hyt",
                      "type": "delete",
                      "label": "Deleting field field_id",
                      "field": "field_id"
                    },
                    "summary": "Delete a dataset field"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Update a field configuration in a dataset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetFieldConfiguration"
              },
              "examples": {
                "Rename dataset field": {
                  "value": {
                    "type": "rename",
                    "label": "Renaming field original_field_id",
                    "from_name": "original_field_id",
                    "to_name": "new_field_id",
                    "field_label": "New user friendly label"
                  },
                  "summary": "Rename a dataset field"
                },
                "Type dataset field": {
                  "value": {
                    "type": "type",
                    "label": "Typing field_id to integer",
                    "field": "field_id",
                    "type_param": "int"
                  },
                  "summary": "Type a field to integer"
                },
                "Describe dataset field": {
                  "value": {
                    "type": "description",
                    "label": "Describing field field_id",
                    "field": "field_id",
                    "description": "The user friendly description"
                  },
                  "summary": "Describe a dataset field"
                },
                "Mark a field as the unique ID": {
                  "value": {
                    "type": "annotate",
                    "label": "Making field_id the unique ID for the records",
                    "annotation": "id",
                    "field": "field_id"
                  },
                  "summary": "Mark a field as the unique ID"
                },
                "Set datetime field precision": {
                  "value": {
                    "type": "annotate",
                    "label": "Making the field_id have an hourly precision when used in timeseries",
                    "field": "field_id",
                    "annotation": "timeserie_precision",
                    "args": [
                      "hour"
                    ]
                  },
                  "summary": "Set datetime field precision"
                },
                "Set field unit": {
                  "value": {
                    "type": "annotate",
                    "label": "Mark the field_id field as representing square kilometers",
                    "field": "field_id",
                    "annotation": "unit",
                    "args": [
                      "km2"
                    ]
                  },
                  "summary": "Set field unit"
                },
                "Set decimal field precision": {
                  "value": {
                    "type": "annotate",
                    "label": "Force the field_id precision to 5 digits after the decimal point",
                    "field": "field_id",
                    "annotation": "decimals",
                    "args": [
                      5
                    ]
                  },
                  "summary": "Set decimal field precision"
                },
                "Set a field as multivalued": {
                  "value": {
                    "type": "annotate",
                    "label": "Mark the field_id as multivalued, with a comma as the values separator",
                    "field": "field_id",
                    "annotation": "multivalued",
                    "args": [
                      ","
                    ]
                  },
                  "summary": "Set a field as multivalued"
                },
                "Order dataset field": {
                  "value": {
                    "type": "order",
                    "label": "Ordering dataset fields",
                    "args": [
                      "field3",
                      "field2",
                      "field1"
                    ]
                  },
                  "summary": "Order dataset fields"
                },
                "Delete dataset field": {
                  "value": {
                    "type": "delete",
                    "label": "Deleting field field_id",
                    "field": "field_id"
                  },
                  "summary": "Delete a dataset field"
                }
              }
            }
          }
        },
        "tags": [
          "Dataset fields"
        ]
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/field_identifier"
          }
        ],
        "summary": "Destroy a field configuration",
        "operationId": "destroy-dataset-field-configurations",
        "responses": {
          "204": {
            "$ref": "#/components/responses/Deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Remove a field configuration from a dataset",
        "tags": [
          "Dataset fields"
        ]
      }
    },
    "/datasets/{dataset_uid}/processors/": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          }
        ],
        "summary": "List dataset processors",
        "operationId": "list-dataset-processors",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/DatasetProcessor"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "List configured processors for a dataset. Please note that it reads in the order in which processors are applied.",
        "tags": [
          "Dataset processors"
        ]
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          }
        ],
        "summary": "Append a new processor",
        "operationId": "create-dataset-processor",
        "description": "Create a new processor for the dataset. The processor will be appended to the end of the processing stack.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetProcessor"
              },
              "example": {
                "type": "string_replace",
                "label": "replace old value with new value",
                "field": "my_field",
                "old": "old_value",
                "new": "new_value"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetProcessor"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "tags": [
          "Dataset processors"
        ]
      }
    },
    "/datasets/{dataset_uid}/processors/{processor_uid}/": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/processor_identifier"
          }
        ],
        "summary": "Retrieve dataset processor",
        "operationId": "retrieve-dataset-processor",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetProcessor"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Retrieve a dataset processor",
        "tags": [
          "Dataset processors"
        ]
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/processor_identifier"
          }
        ],
        "summary": "Update dataset processor",
        "operationId": "update-dataset-processor",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetProcessor"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Update a processor in a dataset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetProcessor"
              },
              "example": {
                "type": "string_replace",
                "label": "replace old value with new value",
                "field": "my_field",
                "old": "old_value",
                "new": "new_value"
              }
            }
          }
        },
        "tags": [
          "Dataset processors"
        ]
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/processor_identifier"
          }
        ],
        "summary": "Delete a dataset processor",
        "operationId": "delete-dataset-processor",
        "responses": {
          "204": {
            "$ref": "#/components/responses/Deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Remove a processor from a dataset.",
        "tags": [
          "Dataset processors"
        ]
      }
    },
    "/extractors/": {
      "get": {
        "summary": "List extractors",
        "tags": [
          "Dataset resources"
        ],
        "operationId": "list-extractors",
        "parameters": [],
        "description": "List available extractors",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Extractor"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/datasets/{dataset_uid}/resources/": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "datasource.connection",
                "datasource.dataset"
              ]
            },
            "in": "query",
            "name": "expand",
            "description": "The list of fields to expand."
          }
        ],
        "summary": "List dataset resources",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Resource"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "list-dataset-resources",
        "description": "List all resources that are linked to a dataset.",
        "tags": [
          "Dataset resources"
        ]
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          }
        ],
        "summary": "Create dataset resource",
        "operationId": "create-dataset-resource",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                },
                "examples": {
                  "HTTP": {
                    "value": {
                      "uid": "re_qf2hyt",
                      "type": "csvfile",
                      "title": "Fromages",
                      "display_name": "https://my-server.com/fromages.csv",
                      "extraction_infos": {
                        "label": "CSV File",
                        "type": "csvfile"
                      },
                      "origin": {
                        "label": "HTTP",
                        "type": "http"
                      },
                      "params": {
                        "doublequote": true,
                        "encoding": "utf-8",
                        "first_row_no": 1,
                        "headers_first_row": true,
                        "separator": ";"
                      },
                      "datasource": {
                        "type": "http",
                        "connection": {
                          "uid": "co_qf2hyt"
                        },
                        "headers": [
                          {
                            "name": "header-name",
                            "value": "header-value"
                          }
                        ],
                        "relative_url": "/fromages.csv"
                      },
                      "updated_at": "2022-01-01T00:00:00Z"
                    }
                  },
                  "Uploaded file": {
                    "value": {
                      "uid": "re_qf2hyt",
                      "type": "csvfile",
                      "title": "fromages.csv",
                      "display_name": "fromages.csv",
                      "extraction_infos": {
                        "label": "CSV File",
                        "type": "csvfile"
                      },
                      "origin": {
                        "label": "Uploaded file",
                        "type": "uploaded_file"
                      },
                      "params": {
                        "doublequote": true,
                        "encoding": "utf-8",
                        "first_row_no": 1,
                        "headers_first_row": true,
                        "separator": ";"
                      },
                      "datasource": {
                        "type": "uploaded_file",
                        "file": {
                          "uid": "fromages.csv"
                        }
                      },
                      "updated_at": "2022-01-01T00:00:00Z"
                    }
                  },
                  "Federated": {
                    "value": {
                      "uid": "re_qf2hyt",
                      "type": "federated",
                      "title": "re_qf2hyt",
                      "params": {},
                      "display_name": "Federated dataset",
                      "extraction_infos": null,
                      "origin": {
                        "label": "Federated dataset",
                        "type": "federated"
                      },
                      "datasource": {
                        "type": "federated",
                        "dataset": {
                          "dataset_id": "georef-united-states-of-america-county"
                        },
                        "domain": {
                          "domain_id": "public"
                        },
                        "permissions_user": {
                          "username": "louise.data"
                        },
                        "parameters": {
                          "refine.year": 2022
                        }
                      },
                      "updated_at": "2022-01-01T00:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Create a new resource for the dataset. For now the supported resources in the API are HTTP, (s)FTP, uploaded files, S3, Azure Blob Storage, dataset federation, Snowflake, JCDecaux, Sharepoint and Google Drive.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Resource"
              },
              "examples": {
                "HTTP": {
                  "value": {
                    "type": "csvfile",
                    "title": "fromages.csv",
                    "params": {
                      "doublequote": true,
                      "encoding": "utf-8",
                      "first_row_no": 1,
                      "headers_first_row": true,
                      "separator": ";"
                    },
                    "datasource": {
                      "type": "http",
                      "connection": {
                        "type": "http",
                        "url": "https://my-server.com",
                        "auth": null
                      },
                      "headers": [
                        {
                          "name": "header-name",
                          "value": "header-value"
                        }
                      ],
                      "relative_url": "/fromages.csv"
                    }
                  }
                },
                "HTTP (with BasicAuth)": {
                  "value": {
                    "type": "csvfile",
                    "title": "fromages.csv",
                    "params": {
                      "doublequote": true,
                      "encoding": "utf-8",
                      "first_row_no": 1,
                      "headers_first_row": true,
                      "separator": ";"
                    },
                    "datasource": {
                      "type": "http",
                      "connection": {
                        "type": "http",
                        "url": "https://my-server.com",
                        "auth": {
                          "type": "basic_auth",
                          "username": "my_username",
                          "password": "my_password"
                        }
                      },
                      "headers": [
                        {
                          "name": "header-name",
                          "value": "header-value"
                        }
                      ],
                      "relative_url": "/fromages.csv"
                    }
                  }
                },
                "HTTP (with reusable connection)": {
                  "value": {
                    "type": "csvfile",
                    "title": "fromages.csv",
                    "params": {
                      "doublequote": true,
                      "encoding": "utf-8",
                      "first_row_no": 1,
                      "headers_first_row": true,
                      "separator": ";"
                    },
                    "datasource": {
                      "type": "http",
                      "connection": {
                        "uid": "co_qf2hyt"
                      },
                      "headers": [
                        {
                          "name": "header-name",
                          "value": "header-value"
                        }
                      ],
                      "relative_url": "/fromages.csv"
                    }
                  }
                },
                "Uploaded file": {
                  "value": {
                    "type": "csvfile",
                    "title": "fromages.csv",
                    "params": {
                      "doublequote": true,
                      "encoding": "utf-8",
                      "first_row_no": 1,
                      "headers_first_row": true,
                      "separator": ";"
                    },
                    "datasource": {
                      "type": "uploaded_file",
                      "file": {
                        "uid": "fromages.csv"
                      }
                    }
                  }
                },
                "Federated": {
                  "value": {
                    "type": "federated",
                    "title": "fromages.csv",
                    "datasource": {
                      "type": "federated",
                      "dataset": {
                        "dataset_id": "georef-united-states-of-america-county"
                      },
                      "domain": {
                        "domain_id": "public"
                      },
                      "impersonate_permission": true,
                      "parameters": {
                        "refine.year": 2022
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Dataset resources"
        ]
      }
    },
    "/datasets/{dataset_uid}/resources/guess_extractors/": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          }
        ],
        "summary": "Guess unsaved resource extractors",
        "operationId": "guess-unsaved-resource-extractors",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Extractor"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "datasource": {
                    "$ref": "#/components/schemas/Datasource"
                  }
                },
                "required": [
                  "datasource"
                ]
              }
            }
          }
        },
        "description": "Guess the resource extractors",
        "tags": [
          "Dataset resources"
        ]
      }
    },
    "/datasets/{dataset_uid}/resources/guess_extractor_params/": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          }
        ],
        "summary": "Guess unsaved resource extractor parameters",
        "operationId": "guess-unsaved-resource-extractor-params",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "extractor": {
                      "type": "string",
                      "example": "csvfile"
                    },
                    "params": {
                      "type": "object",
                      "example": {
                        "doublequote": true,
                        "encoding": "utf-8",
                        "first_row_no": 1,
                        "headers_first_row": true,
                        "separator": ";"
                      }
                    }
                  },
                  "required": [
                    "extractor",
                    "params"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "datasource": {
                    "$ref": "#/components/schemas/Datasource"
                  },
                  "type": {
                    "type": "string",
                    "example": "csvfile"
                  }
                },
                "required": [
                  "type",
                  "datasource"
                ]
              }
            }
          }
        },
        "tags": [
          "Dataset resources"
        ],
        "description": "Guess the extractor parameters"
      }
    },
    "/datasets/{dataset_uid}/resources/preview/": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          }
        ],
        "summary": "Preview unsaved resource records",
        "operationId": "resource-unsaved-preview",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResourcePreview"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "datasource": {
                    "$ref": "#/components/schemas/Datasource"
                  },
                  "type": {
                    "type": "string",
                    "example": "csvfile"
                  },
                  "params": {
                    "type": "object",
                    "additionalProperties": true,
                    "example": {
                      "doublequote": true,
                      "encoding": "utf-8",
                      "first_row_no": 1,
                      "headers_first_row": true,
                      "separator": ";"
                    }
                  }
                },
                "required": [
                  "type",
                  "datasource"
                ]
              }
            }
          }
        },
        "description": "In order to test a resource configuration, it can be useful to preview the data. This endpoint uses a resource configuration passed in the payload to generate a preview.\n\nThe preview is composed of the fields definitions and the content of the first records up to 20.",
        "tags": [
          "Dataset resources"
        ]
      }
    },
    "/datasets/{dataset_uid}/resources/{resource_uid}/": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/resource_identifier"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "datasource.connection",
                "datasource.dataset"
              ]
            },
            "in": "query",
            "name": "expand",
            "description": "The list of fields to expand."
          }
        ],
        "summary": "Retrieve dataset resource",
        "tags": [
          "Dataset resources"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                },
                "examples": {
                  "HTTP": {
                    "value": {
                      "uid": "re_qf2hyt",
                      "type": "csvfile",
                      "title": "Fromages",
                      "display_name": "https://my-server.com/fromages.csv",
                      "extraction_infos": {
                        "label": "CSV File",
                        "type": "csvfile"
                      },
                      "origin": {
                        "label": "HTTP",
                        "type": "http"
                      },
                      "params": {
                        "doublequote": true,
                        "encoding": "utf-8",
                        "first_row_no": 1,
                        "headers_first_row": true,
                        "separator": ";"
                      },
                      "datasource": {
                        "type": "http",
                        "connection": {
                          "uid": "co_qf2hyt"
                        },
                        "headers": [
                          {
                            "name": "header-name",
                            "value": "header-value"
                          }
                        ],
                        "relative_url": "/fromages.csv"
                      },
                      "updated_at": "2022-01-01T00:00:00Z"
                    }
                  },
                  "Uploaded file": {
                    "value": {
                      "uid": "re_qf2hyt",
                      "type": "csvfile",
                      "title": "fromages.csv",
                      "display_name": "fromages.csv",
                      "extraction_infos": {
                        "label": "CSV File",
                        "type": "csvfile"
                      },
                      "origin": {
                        "label": "Uploaded file",
                        "type": "uploaded_file"
                      },
                      "params": {
                        "doublequote": true,
                        "encoding": "utf-8",
                        "first_row_no": 1,
                        "headers_first_row": true,
                        "separator": ";"
                      },
                      "datasource": {
                        "type": "uploaded_file",
                        "file": {
                          "uid": "fromages.csv"
                        }
                      },
                      "updated_at": "2022-01-01T00:00:00Z"
                    }
                  },
                  "Federated": {
                    "value": {
                      "uid": "re_qf2hyt",
                      "type": "federated",
                      "title": "re_qf2hyt",
                      "params": {},
                      "display_name": "Federated dataset",
                      "extraction_infos": null,
                      "origin": {
                        "label": "Federated dataset",
                        "type": "federated"
                      },
                      "datasource": {
                        "type": "federated",
                        "dataset": {
                          "dataset_id": "georef-united-states-of-america-county"
                        },
                        "domain": {
                          "domain_id": "public"
                        },
                        "permissions_user": {
                          "username": "louise.data"
                        },
                        "parameters": {
                          "refine.year": 2022
                        }
                      },
                      "updated_at": "2022-01-01T00:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "retrieve-dataset-resource",
        "description": "Retrieve one dataset resource specified by its `uid`."
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/resource_identifier"
          }
        ],
        "summary": "Update dataset resource",
        "operationId": "update-dataset-resource",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                },
                "examples": {
                  "HTTP": {
                    "value": {
                      "uid": "re_qf2hyt",
                      "type": "csvfile",
                      "title": "Fromages",
                      "display_name": "https://my-server.com/fromages.csv",
                      "extraction_infos": {
                        "label": "CSV File",
                        "type": "csvfile"
                      },
                      "origin": {
                        "label": "HTTP",
                        "type": "http"
                      },
                      "params": {
                        "doublequote": true,
                        "encoding": "utf-8",
                        "first_row_no": 1,
                        "headers_first_row": true,
                        "separator": ";"
                      },
                      "datasource": {
                        "type": "http",
                        "connection": {
                          "uid": "co_qf2hyt"
                        },
                        "headers": [
                          {
                            "name": "header-name",
                            "value": "header-value"
                          }
                        ],
                        "relative_url": "/fromages.csv"
                      },
                      "updated_at": "2022-01-01T00:00:00Z"
                    }
                  },
                  "Uploaded file": {
                    "value": {
                      "uid": "re_qf2hyt",
                      "type": "csvfile",
                      "title": "fromages.csv",
                      "display_name": "fromages.csv",
                      "extraction_infos": {
                        "label": "CSV File",
                        "type": "csvfile"
                      },
                      "origin": {
                        "label": "Uploaded file",
                        "type": "uploaded_file"
                      },
                      "params": {
                        "doublequote": true,
                        "encoding": "utf-8",
                        "first_row_no": 1,
                        "headers_first_row": true,
                        "separator": ";"
                      },
                      "datasource": {
                        "type": "uploaded_file",
                        "file": {
                          "uid": "fromages.csv"
                        }
                      },
                      "updated_at": "2022-01-01T00:00:00Z"
                    }
                  },
                  "Federated": {
                    "value": {
                      "uid": "re_qf2hyt",
                      "type": "federated",
                      "title": "re_qf2hyt",
                      "params": {},
                      "display_name": "Federated dataset",
                      "extraction_infos": null,
                      "origin": {
                        "label": "Federated dataset",
                        "type": "federated"
                      },
                      "datasource": {
                        "type": "federated",
                        "dataset": {
                          "dataset_id": "georef-united-states-of-america-county"
                        },
                        "domain": {
                          "domain_id": "public"
                        },
                        "permissions_user": {
                          "username": "louise.data"
                        },
                        "parameters": {
                          "refine.year": 2022
                        }
                      },
                      "updated_at": "2022-01-01T00:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Update one dataset resource specified by its `uid`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Resource"
              },
              "examples": {
                "HTTP": {
                  "value": {
                    "type": "csvfile",
                    "title": "fromages.csv",
                    "params": {
                      "doublequote": true,
                      "encoding": "utf-8",
                      "first_row_no": 1,
                      "headers_first_row": true,
                      "separator": ";"
                    },
                    "datasource": {
                      "type": "http",
                      "connection": {
                        "uid": "co_qf2hyt"
                      },
                      "headers": [
                        {
                          "name": "header-name",
                          "value": "header-value"
                        }
                      ],
                      "relative_url": "/fromages.csv"
                    }
                  }
                },
                "HTTP (with BasicAuth)": {
                  "value": {
                    "type": "csvfile",
                    "title": "fromages.csv",
                    "params": {
                      "doublequote": true,
                      "encoding": "utf-8",
                      "first_row_no": 1,
                      "headers_first_row": true,
                      "separator": ";"
                    },
                    "datasource": {
                      "type": "http",
                      "connection": {
                        "uid": "co_qf2hyt"
                      },
                      "headers": [
                        {
                          "name": "header-name",
                          "value": "header-value"
                        }
                      ],
                      "relative_url": "/fromages.csv"
                    }
                  }
                },
                "Uploaded file": {
                  "value": {
                    "type": "csvfile",
                    "title": "fromages.csv",
                    "params": {
                      "doublequote": true,
                      "encoding": "utf-8",
                      "first_row_no": 1,
                      "headers_first_row": true,
                      "separator": ";"
                    },
                    "datasource": {
                      "type": "uploaded_file",
                      "file": {
                        "uid": "fromages.csv"
                      }
                    }
                  }
                },
                "Federated": {
                  "value": {
                    "type": "federated",
                    "title": "fromages.csv",
                    "datasource": {
                      "type": "federated",
                      "dataset": {
                        "dataset_id": "georef-united-states-of-america-county"
                      },
                      "domain": {
                        "domain_id": "public"
                      },
                      "impersonate_permission": true,
                      "parameters": {
                        "refine.year": 2022
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Dataset resources"
        ]
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/resource_identifier"
          }
        ],
        "summary": "Delete dataset resource",
        "operationId": "delete-dataset-resource",
        "responses": {
          "204": {
            "$ref": "#/components/responses/Deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Delete one dataset resource specified by its `uid`.",
        "tags": [
          "Dataset resources"
        ]
      }
    },
    "/datasets/{dataset_uid}/resources/{resource_uid}/guess_extractors/": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/resource_identifier"
          }
        ],
        "summary": "Guess resource extractors",
        "tags": [
          "Dataset resources"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Extractor"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "resource-guess-extractors",
        "description": "Guess the resource extractors"
      }
    },
    "/datasets/{dataset_uid}/resources/{resource_uid}/clean_cache/": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/resource_identifier"
          }
        ],
        "summary": "Clean cache of resource",
        "operationId": "clean-resource-cache",
        "responses": {
          "204": {
            "$ref": "#/components/responses/Deleted"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Clean the cache of a given resource.",
        "tags": [
          "Dataset resources"
        ]
      }
    },
    "/datasets/{dataset_uid}/resources/{resource_uid}/guess_extractors_params/": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/resource_identifier"
          }
        ],
        "summary": "Guess resource extractor parameters",
        "tags": [
          "Dataset resources"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "extractor": {
                      "type": "string",
                      "example": "csvfile"
                    },
                    "params": {
                      "type": "object",
                      "example": {
                        "doublequote": true,
                        "encoding": "utf-8",
                        "first_row_no": 1,
                        "headers_first_row": true,
                        "separator": ";"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "resource-guess-extractor-params",
        "description": "Guess the resource extractor parameters"
      }
    },
    "/datasets/{dataset_uid}/resources/{resource_uid}/preview/": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/resource_identifier"
          }
        ],
        "summary": "Preview resource records",
        "tags": [
          "Dataset resources"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResourcePreview"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "resource-preview",
        "description": "In order to test a resource configuration, it can be useful to preview the data. This endpoint uses the configuration of a resource specified by its `uid` to generate a preview.\n\nThe preview is composed of the fields definitions and the content of the first records up to 20."
      }
    },
    "/datasets/{dataset_uid}/resources/{resource_uid}/recover/": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/resource_identifier"
          }
        ],
        "summary": "Recover realtime data",
        "operationId": "recover-resource",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidDatasetStatus"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Recover the data of a realtime resource. The dataset must be published.",
        "tags": [
          "Dataset resources"
        ]
      }
    },
    "/datasets/{dataset_uid}/resources/{resource_uid}/delete_recover_data/": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/resource_identifier"
          }
        ],
        "summary": "Delete realtime recovered data",
        "operationId": "delete-recover-data-resource",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidDatasetStatus"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Delete the recovered data of a realtime resource. The dataset must be published.",
        "tags": [
          "Dataset resources"
        ]
      }
    },
    "/datasets/{dataset_uid}/resources/{resource_uid}/enable/": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/resource_identifier"
          }
        ],
        "summary": "Enable realtime resource",
        "operationId": "enable-resource",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Enable a realtime resource",
        "tags": [
          "Dataset resources"
        ]
      }
    },
    "/datasets/{dataset_uid}/resources/{resource_uid}/disable/": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/resource_identifier"
          }
        ],
        "summary": "Disable realtime resource",
        "operationId": "disable-resource",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Disable a realtime resource",
        "tags": [
          "Dataset resources"
        ]
      }
    },
    "/datasets/{dataset_uid}/resources/{resource_uid}/renew_api_key/": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/resource_identifier"
          }
        ],
        "summary": "Renew realtime resource API key",
        "operationId": "resource-renew-api-key",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Renew a realtime resource API key",
        "tags": [
          "Dataset resources"
        ]
      }
    },
    "/datasets/{dataset_uid}/resources/files/": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          }
        ],
        "summary": "Upload resource file",
        "operationId": "upload-resource-file",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetFile"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Upload a file to be used in a dataset resource. The HTTP request must be a multipart request with a `file` property.",
        "tags": [
          "Dataset resources"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        }
      }
    },
    "/datasets/{dataset_uid}/resources/files/{file_uid}/": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/file_identifier"
          }
        ],
        "summary": "Retrieve dataset resource file",
        "operationId": "retrieve-dataset-resource-file",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetFile"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Retrieve a dataset resource uploaded file",
        "tags": [
          "Dataset resources"
        ]
      }
    },
    "/datasets/{dataset_uid}/resources/files/{file_uid}/download/": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/file_identifier"
          }
        ],
        "summary": "Download dataset resource file",
        "operationId": "download-dataset-resource-file",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "Content-disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "attachment; filename=\"{filename}\"; filename*=UTF-8''{filename}"
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Download a dataset resource file",
        "tags": [
          "Dataset resources"
        ]
      }
    },
    "/datasets/{dataset_uid}/attachments/": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "summary": "List dataset attachments",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/DatasetAttachment"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "list-dataset-attachments",
        "description": "List all attachments to a dataset.",
        "tags": [
          "Dataset attachments"
        ]
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          }
        ],
        "summary": "Create dataset attachment",
        "operationId": "create-dataset-attachment",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetAttachment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Create a dataset attachment",
        "tags": [
          "Dataset attachments"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        }
      }
    },
    "/datasets/{dataset_uid}/attachments/{attachment_uid}/": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/attachment_identifier"
          }
        ],
        "summary": "Retrieve dataset attachment",
        "tags": [
          "Dataset attachments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetAttachment"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "retrieve-dataset-attachment",
        "description": "Retrieve a dataset attachment"
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_identifier"
          },
          {
            "$ref": "#/components/parameters/attachment_identifier"
          }
        ],
        "summary": "Delete dataset attachment",
        "operationId": "delete-dataset-attachment",
        "responses": {
          "204": {
[...]
